body{
    background-color: #000a15eb;
    color: white;
    font-family: Verdana;
    margin: 15;
}
fieldset{
    display: grid;
    column-gap: 50px;
    text-align: center;
}
fieldset legend{
    font-size: 22px;
}
label[for*="user"]{
    font-size: 20px;
}
input[name*="user"]{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-size: 16px;
    background-color: whitesmoke;
}