body{
    font-family: Arial;
    margin: 0;
}
header{
    padding-top: 13vw;
    text-align: center;
    color: white;
    width: 100%;
    height: 27vw;
    background: url(../images/banner.jpg) no-repeat;
    background-size: 100%;
}
header h1{
    margin: 0;
    font-size: 70px;
}
header h3{
    margin: -8px 0 80px 0;
    font-size: 18px;
    opacity: 0.5;
}
header nav ul{
    padding: 0;
}
header nav ul li{
    display: inline;
    list-style: none;
}
header nav ul li a{
    border: rgba(0, 0, 0, 0) 2px solid;
    border-radius: 30px;
    padding: 18px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    opacity: 0.5;
}
header nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: white 2px solid;
    border-radius: 30px;
    opacity: 1;
    transition: 500ms ease-in-out;
}
header nav ul li .active{
    border: white 2px solid;
    border-radius: 30px;
    opacity: 1;
}

/* -----MAIN----- */

main{
    display: flex;
    justify-content: space-between;
    padding: 4vw;
}
main #left{
    width: 61vw;
}
main #left h1{
    margin: 0;
    font-size: 50px;
}
main #left h3{
    margin: 0 0 50px 0;
    font-size: 20px;
}
main #left img{
    width: 100%;
}
main #left p .link{
    color: black;
}
main #right{
    width: 25vw;
}
main #right h1{
    text-transform: uppercase;
    font-size: 25px;
}
main #right h3{
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 11px;
}
main #right .bloco{
    display: flex;
    align-items: center;
}
main #right .bloco img{
    margin-right: 25px;
}
main #right .bloco h4{
    margin: 0;
    font-size: 14px;
    line-height: 28px;
}
main #right .linha{
    margin-bottom: 25px;
    padding-bottom: 50px;
    border-bottom: rgba(0, 0, 0, 0.1) 3px solid;
}

/* -----SECTION----- */

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    align-items: end;
    background-color: whitesmoke;
    padding: 4vw;
}
section h2{
    margin-bottom: 40px;
    text-transform: uppercase;
}
section img{
    width: 100%;
}
section h4{
    line-height: 30px;
}
section button {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    padding: 20px 25px;
    cursor: pointer;
    position: relative;
    border-radius: 40px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: rgb(223, 93, 46);
    z-index: 1;
}
section button:hover:after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}
section button:after {
    border-radius: 40px;
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 28px;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.2s cubic-bezier(0.770, 0.005, 0.735, 0.885);
    background-color: rgb(251, 116, 67);
    right: 0;
}
section button:active {
    top: 3px;
}
footer{
    padding: 4vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
}
footer h2{
    margin-bottom: 50px;
    text-transform: uppercase;
}
footer h3{
    padding-bottom: 12px;
    opacity: 0.2;
}
footer .linha{
    border-bottom: white 2px solid;
    opacity: 0.2;
}